body {
    margin: 0px;
}
.navbar {
    background-color: rgb(0, 140, 255);
}

img {
    width: 190px;
}

footer {
    background-color: rgb(0, 140, 255);
}

.img1{
    padding-top: 30px!important;
}

.img2{
    padding-top: 50px!important;
}

.imgnovel{
    width: 350px;
}