body {
    margin: 0px;
}
.navbar {
    background-color: rgb(0, 140, 255);
}

img {
    width: 190px;
}

footer {
    background-color: rgb(0, 140, 255);
}

.img{
    padding-top: 40px!important;
}